html{
    background-color: tan;
}
h1 , h2, p{
    text-align: center;
}
a:hover{
    color:aqua;
}
iframe{
    display:block;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
hr {
    height: 10px;
    width: 75%;
    align-items: center;
    border-color: black;
    background-color: black;

}
.recipe_list{
    text-align: center;
    font-size: large;
}
ul{
    list-style: none;
}